input(type="checkbox", ng-model="paused", id="checkbox") 
label(for="checkbox") Paused

span(ng-show="paused")
  input(type="number" min="3" max="50" value="5" ng-model="dim")
  label Dimension

span(ng-show="paused")
  button(ng-click="emptyMatrix()") Empty Matrix

table.life
  tr(ng-repeat="row in matrix")
    td(ng-repeat="col in row", ng-class="{alive: col==1}", ng-click="toggle(row, $index)")



