extends layout

block body
  div(ng-view)

  script(src='js/angular/angular.min.js')
  script(src='js/socket.io/socket.io.js')
  script(src='js/underscore/underscore.min.js')
  script(src='js/jquery/jquery-1.8.0.min.js')


  != js('routes')

  != js('chat_service')

  != js('life_controller')

  != js('directives')

