extends layout

block body
  #no-connection(style="border: 2px solid red;")
    "WE HAVE NO SERVER CONNECTION!"

  div(ng-view)

  script(src='js/angular/angular.min.js')
  script(src='js/socket.io/socket.io.js')
  script(src='js/underscore/underscore.min.js')
  script(src='js/jquery/jquery-1.8.0.min.js')
  script(src='js/boostrap/bootstrap.min.js')


  != js('routes')

  != js('socket_service')

  != js('life_controller')

  != js('directives')

