!!!
html(ng-app="app")
  head
    meta(charset='utf8')
    title Game of Life
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    block body


